.gallery-footer {
  margin-top: 100px;
}

.gallery-banner {
  background-color: #F7C0C3;
  padding: 160px 40px 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 150px;
}

.gallery-text {
  margin-top: -100px;
}

.gallery-title {
  text-align: center;
  font-size: 52px;
  font-weight: 800;
  color: #581b28;
  margin-top: 24px;
  line-height: 1.2;
}

.gallery-description {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #ffffffbf;
}

.gallerywave img {
  width: 100%;
}

.gallerywave {
  top: 400px;
  position: absolute;
  background-size: cover;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
}

.gallery-section {
  margin-top: 100px;
  background-color: #f9f9f9;
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

.masonry-grid {
  gap: 20px;
  margin-left: 80px;
  display: flex !important;
  width: 90%;
  padding: 0 !important;
  box-sizing: border-box;
}

.masonry-column {
  padding-left: 8px;
  box-sizing: border-box;
  flex: 1;
  min-width: 0;
}

.gallery-item {
  border: 3px dashed #F7C0C3;
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 12px;
}

.gallery-image {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 12px;
}

.gallery-image :hover {
  background-color: #F7C0C3;
}