.navbar {
  width: 100%;
  padding: 0px 40px;
  background: var(--brand-cream);
  display: flex;
  height: 121px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.logo {
  width: 200px;
}

.logo-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.nav-links {
  display: flex;
  gap: 32px;
  font-size: 17px;
  font-weight: 500;
}

.nav-links a {
  color: var(--brand-text-main);
  text-decoration: none;
  transition: 0.2s;
}

.nav-links a:hover {
  color: var(--brand-primary);
}

.nav-icon-button {
  margin-right: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-icons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.icon {
  font-size: 25px;
  cursor: pointer;
  color: var(--brand-text-main);
  padding: 5px;
  transition: all 0.3s ease;
  border-radius: 30px;
}

.icon:hover {
  background-color: var(--brand-secondary-soft);
}

.dashboard-btn {
  background: var(--brand-primary);
  color: white;
  padding: 10px 26px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.dashboard-btn:hover {
  background: var(--brand-secondary);
  color: var(--brand-primary);
}