.blog-wrapper {
  background: #fff7f8;
  font-family: "Inter", sans-serif;
}

.blog-hero {
  text-align: center;
  margin-bottom: 40px;
  padding: 40px 0 10px;
  background: linear-gradient(to bottom, #ffe9ec, #fff7f8);
  padding-top: 150px;
  padding-bottom: 50px;
}

.blog-hero h1 {
  font-size: 52px;
  font-weight: 800;
  color: #6a1c1c;
  margin-bottom: 10px;
}

.svgBaner {
    display: block;
    width: 100%;
    margin-bottom: -5px;
}

.wavy-divider svg {
    width: calc(100% + 1.3px);
    height: 60px;
    display: block;
    position: relative;
    width: 100%;
    
}

.blog-hero p {
  font-size: 18px;
  color: #674242;
}

/* SEARCH BAR */
.blog-search {
  width: 55%;
  margin: 30px auto 0;
  background: white;
  padding: 14px 20px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  border: 1px solid #f2c7cf;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.blog-search input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 10px;
}

/* FILTER BUTTONS */
.blog-filters {
  display: flex;
  gap: 14px;
  justify-content: center;
  margin: 40px 0;
  flex-wrap: wrap;
}

.blog-filters button {
  padding: 10px 22px;
  background: #fff;
  border: 1px solid #ffd4db;
  border-radius: 30px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
  color: #6a1c1c;
}

.blog-filters button:hover {
  background: #ffe6eb;
}

/* GRID */
.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 40px;
  margin-bottom: 100px;
}

/* CARD */
.blog-card {
  background: white;
  border-radius: 22px;
  padding: 18px;
  border: 1px solid #ffdce2;
  transition: 0.25s;
  box-shadow: 0 6px 14px rgba(0,0,0,0.07);
}

.blog-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.12);
}

/* IMAGE */
.blog-img-wrapper {
  position: relative;
}

.blog-img-wrapper img {
  width: 100%;
  height: 230px;
  border-radius: 20px;
  object-fit: cover;
}

.tag-label {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #ffe1e7;
  padding: 6px 12px;
  border-radius: 30px;
  font-size: 13px;
  color: #6a1c1c;
  font-weight: 600;
}

/* TEXT */
.blog-card h3 {
  margin-top: 18px;
  font-size: 22px;
  color: #6a1c1c;
  font-weight: 700;
}

.blog-card p {
  margin-top: 8px;
  color: #5d5d5d;
  font-size: 15px;
  line-height: 1.5;
}

.blog-meta {
  margin: 14px 0;
  display: flex;
  gap: 8px;
  color: #7a7a7a;
  font-size: 14px;
}

/* READ BUTTON */
.read-btn {
  padding: 10px 18px;
  border-radius: 12px;
  border: none;
  color: white;
  background: #6a1c1c;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}

.read-btn:hover {
  background: #8b1f1f;
}
