.dessert-wraper {
  width: 100%;
  min-height: 100vh;

}

.banner-collection {
      background: linear-gradient(133deg, #ffeaeb, #ffffff);
    padding: 160px 40px 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 150px;
}



.collection-title {
  text-align:center;
  font-size: 52px;
  font-weight: 800;
  color: #581b28;
  margin-top: 24px;
  line-height: 1.2;
}

.collection-description {
  text-align:center;
  margin-top: 20px;
  font-size: 18px;
  color: #00211ABF;
}

/* SORT SECTION */
.sort-section {
  margin: 40px auto 20px;
  width: 90%;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
}

.sort-section span {
  color: #3d3d3d;
}

.sort-dropdown {
  padding: 8px 15px;
  border-radius: 10px;
  border: 1px solid #cfcfcf;
  font-size: 16px;
  outline: none;
  background: white;
  cursor: pointer;
}

/* FILTER BUTTONS */
.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 25px 0;
}

.filter-buttons button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 20px;
  color: #000;
  transition: 0.25s;
}

.filter-buttons button:hover {
  opacity: 0.7;
}

.filter-buttons .active {
  background: #7d1334;
  color: white;
}

/* GRID */
.dessert-grid {
  width: 90%;
  margin: 40px auto 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

/* CARD */
.dessert-card {
  border: 2px dashed #f3b8c2;
  padding: 15px;
  border-radius: 20px;
  transition: 0.3s ease;
  text-align: center;
  background: white;
}

.dessert-card:hover {
  transform: scale(1.03);
}

.dessert-img {
  width: 100%;
  height: 370px;
  object-fit: cover;
  border-radius: 15px;
}

.dessert-name {
  font-size: 20px;
  margin-top: 15px;
  color: #3d3d3d;
}

.dessert-price {
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #7d1334;
}
