.auth-container {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.auth-left {
  width: 50%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-left::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
}

.auth-left-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.auth-left-icon {
  width: 80px;
  margin-bottom: 20px;
}

/* RIGHT SIDE */
.auth-right {
  width: 50%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-header {
  text-align: center;
  margin-bottom: 20px;
}

.auth-logo {
  width: 65px;
  margin-bottom: 10px;
}

.auth-form input {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 15px;
}

.name-row {
  display: flex;
  gap: 10px;
}

.auth-btn {
  width: 100%;
  padding: 15px;
  background: #6a1c1c;
  color: #fff;
  border: none;
  border-radius: 50px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* Divider */
.divider {
  text-align: center;
  margin: 25px 0;
  opacity: 0.6;
}

.social-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.google-btn,
.fb-btn {
  flex: 1;
  padding: 12px;
  border-radius: 50px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}

/* Toggle */
.toggle-text {
  text-align: center;
  font-size: 14px;
}

.toggle-text span {
  color: #6a1c1c;
  cursor: pointer;
  font-weight: bold;
}
