.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(247, 192, 195, 0.3);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.popup-container {
  border: 5px dashed var(--brand-secondary);
  width: 850px;
  background: var(--brand-cream);
  border-radius: 18px;
  padding: 30px;
  display: flex;
  gap: 40px;
  animation: pop 0.25s ease-out;
  align-items: center;
}

@keyframes pop {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.popup-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.popup-img {
  width: 400px;
  height: 500px;
  object-fit: cover;
  border-radius: 15px;
  display: block;
}

.popup-title {
  font-size: 40px;
  font-weight: 700;
  color: var(--brand-primary);
}

.popup-subtitle {
  color: var(--brand-primary);
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
}

.popup-list {
  color: var(--brand-primary);
  gap: 50px;
  display: flex;
  margin: 10px 0 20px;
  padding-left: 20px;
  line-height: 1.8;
  font-size: 18px;
}

.popup-desc {
  width: 90%;
  font-size: 18px;
  color: var(--brand-primary);
  margin-bottom: 15px;
}

.popup-price {
  font-size: 32px;
  color: var(--brand-primary);
  font-weight: bold;
  margin-bottom: 20px;
}

.popup-btn {
  background: var(--brand-primary);
  color: var(--brand-cream);
  border: none;
  padding: 14px 26px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease;
}

.popup-btn:hover {
  opacity: 0.9;
}

.popup-img {
  width: 400px;         
  height: 500px;       
  object-fit: cover;    
  border-radius: 15px;
  display: block;
}

.pop-icon:hover {
  border-radius: 30px;
  background-color: #F7C0C385;
}

.pop-icon {
  font-size: 30px;
  cursor: pointer;
  color: #101010;
  padding: 5px;
  transition: all 0.3s ease;
}

.popup-icon{
 display: flex;
    justify-content: flex-end;
}
.ingredients1,
.ingredients2 {
  display: flex;
  flex-direction: column;
  gap: 4px;
}