.popup-overlay {
  position: fixed;
  inset: 0;
  background: #f7c0c34f;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.popup-container {
  border: 5px dashed #F7C0C3;
  width: 850px;
  background: #FAF8F6;
  border-radius: 18px;
  padding: 30px;
  display: flex;
  gap: 40px;
  animation: pop 0.25s ease-out;
  align-items: center;
}
.popup-left {
  display: flex;
  justify-content: center; 
  align-items: center;    
  width: 50%;
}
@keyframes pop {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.popup-left img {
  width: 350px;
  height: 450px;
  border-radius: 14px;
}

.popup-title {
  font-size: 40px;
  font-weight: 700;
  color: #581B28;
}

.popup-subtitle {
    color:#581B28;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
}

.popup-list {
    color:#581B28;
    gap: 50px;
    display: flex;
    margin: 10px 0 20px;
    padding-left: 20px;
    line-height: 1.8;
    font-size: 18px;
}

.popup-desc {
  width: 90%;
  font-size: 18px;
  color: #581B28;
  margin-bottom: 15px;
}

.popup-price {
  font-size: 32px;
  color: #581B28;
  font-weight: bold;
  margin-bottom: 20px;
}

.popup-btn {
  background: #581B28;
  color: white;
  border: none;
  padding: 14px 26px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
}

.popup-btn:hover {
  opacity: 0.9;
}

.popup-img {
  width: 400px;         
  height: 500px;       
  object-fit: cover;    
  border-radius: 15px;
  display: block;
}