.favorites-wrapper {
padding: 40px;
background: #ffeef2;
min-height: 100vh;
}


.fav-title {
font-size: 42px;
color: #5a0a1e;
font-weight: 800;
margin-bottom: 40px;
text-align: center;
}


.fav-grid {
display: flex;
flex-direction: column;
align-items: center;
gap: 40px;
}


.fav-card {
border: 5px dashed #F7C0C3;
    width: 850px;
    background: #FAF8F6;
    border-radius: 18px;
    padding: 30px;
    display: flex;
    gap: 40px;
    animation: pop 0.25s 
ease-out;
    align-items: center;
}


.fav-img-box img {
    width: 350px;
    height: 450px;
    border-radius: 14px;
}

.fav-desc{
    width: 90%;
    font-size: 18px;
    color: #581B28;
    margin-bottom: 15px;
}

.fav-item-title {
font-size: 40px;
    font-weight: 700;
    color: #581B28;
}


.ingredients-title {
color: #581B28;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 600;
}


.ingredients-list {
color: #581B28;
    gap: 50px;
    display: flex;
    margin: 10px 0 20px;
    padding-left: 20px;
    line-height: 1.8;
    font-size: 18px;
}

.add-btn{
    background: #581B28;
    color: white;
    border: none;
    padding: 14px 26px;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
}

.remove-btn{
    background: #581B28;
    color: white;
    border: none;
    padding: 14px 26px;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
}